@media (max-width: 768px) {
		.fly, .snail {
    left: 40%;}
    .content {
        grid-template-columns: 50% 50%;
        grid-template-rows: 800px 300px 380px 550px 320px;
    }
    .teeth__dish img {
        width: 120px;
    }
    .teeth { 
        grid-column: 1 / span 2;
		  grid-row: 1;
        order: 1;
    }
    .vegetation { 
        grid-column: 1;  
        order: 2;
		  grid-row: 2;
    }
    .table { 
           grid-column: 1;  
        grid-row: 3 / span 1;
        order: 4;
    }

    .about__logo {
     grid-column: 2 / span 1;  
        order: 3;
	  grid-row: 2;
    }

    .about__header {
     grid-column: 2;  
        order: 5;
    }

    .about__header img {
        width: 100%;
    }

    .about__footer {
     grid-column: 2 / span 1;
        order: 7;
    }

    .pattern { 
    grid-column: 1 / span 1;
        order: 6;
    }

    .footer__image {
   grid-column: 2 / span 1;
        order: 8;
    }

    .footer__desc {
        grid-row: 5;
        order: 9;
        background-color: #B0DA3E;
        color: #000;
        grid-column: 1 / span 1;
        font-size: 20px;
        padding: 20px;
    }

    .footer__image img {
        max-width: 160px;
        min-width: unset;
    }
	
	 .knife__image {grid-row: 5;}
	 .logo_hse {
    margin-top: 20px;
    width: 250px;
}
}

@media (max-width: 320px) {
    .content {
        grid-template-columns: auto;
        grid-template-rows: 100vh 300px 500px 350px 360px 240px 300px;
    }
    .teeth { 
	 grid-row: 1;
        grid-column: 1;
        order: 1;
    }

	
.about__leafs {
	margin-top: -20px;
}
    .teeth__header, .teeth__footer {
     background-size: 250% auto ;
    }

    .teeth__dish img {
        width: 70px;
    }

    
    .teeth__dish img:nth-child(1) {
        width: 50px;
    }

    .vegetation { 
		 grid-row: 2;
        grid-column: 1;
        order: 2;
    }
    .table { 
	grid-row: 4;
        grid-column: 1;
        order: 5;
    }

    .about__logo {
        grid-column: 1;
        order: 3;
    }

    .about__header {
		 display: none;
        grid-column: 1;
        order: 3;
    }

    .about__footer {
		 grid-row: 3;
        grid-column: 1;
        order: 4;
    }

    .pattern { 
	 grid-row: 5;
        grid-column: 1;
        order: 6;
    }

    .knife__image { 
        grid-column: 1;
        order: 7;
		 grid-row: 6;
    }

    .footer__image {
        display: none;
    }

    .footer__desc {
		 grid-row: 7;
        grid-column: 1;
        order: 8;
        background-color: #7FAF25;
        color: #000;
        font-size: 20px;
    }
	.teeth__footer {
    height: 100px; }
}